body {
    height: 500px;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/333/983/695/chinese-food-wallpaper-preview.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 110rem;
  }
h1{
    color:rgb(245, 245, 241);
}
img{
    width: 400px;
}
#img2{
    height: 300px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background: goldenrod;
    padding: 100px;
    border: 4px double black;    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{    
    text-align: center;  
}
.centrar{
    display: flex;
    justify-content: center;
}        